@model The_Archivist.Models.Orgnization

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orgnization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="orgName" class="control-label"></label>
                <input asp-for="orgName" class="form-control" />
                <span asp-validation-for="orgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageFile" class="control-label"></label>
                <input asp-for="imageFile" accept="image/png,image/jpg,image/jpeg" class="form-control" />
                <span asp-validation-for="imageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orgTypesId" class="control-label"></label>
                <select asp-for="orgTypesId" class ="form-control" asp-items="ViewBag.orgTypesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
