@font-face {
    font-family: 'Tajawal';
    src: url('~/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype'), url('~/fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
}

html {
    font-size: 14px;
    font-family: 'Tajawal';
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Tajawal';
}

body {
    margin-bottom: 60px;
    font-family: 'Tajawal';
}

.nav-padding {
    padding-right: 27px !important;
}

.org-bar:hover {
    color: rgba(128, 0, 128, 0.815) !important;
}

#ArchiveCard {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
    -webkit-box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
    box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
}

#ArchiveCard:hover {
    -moz-box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    -webkit-box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    margin-top: -3px;

}




.card {
    border: none;
    border-radius: 10px;
}

#OrgCard {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
    -webkit-box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
    box-shadow: rgba(84, 56, 95, 0.562) 0px 0px 1px 0px;
}

#OrgCard:hover{
    -moz-box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    -webkit-box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    box-shadow: rgba(84, 56, 95, 0.562) 0px 5px 21px 0.1px;
    margin-top: -3px;

}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.OrgAvatar {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    border: 3px skyblue solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.3s;
}

.OrgAvatar img{
    width:50px;
    height:50px;
    border-radius: 15px;
    border: 1px skyblue solid;
}

.OrgAvatar:hover{}
.badge-sm span {
    background-color: #E6E6EF;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #120D31;
    justify-content: center;
    align-items: center;
}

.badge-md span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center;
}

.badge-lg span {
    background-color: #DFF7DC;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #4DB140;
    justify-content: center;
    align-items: center;
}

.badge-xl span {
    background-color: rgb(246, 202, 243, 0.90);
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: rgb(128, 0, 128);
    justify-content: center;
    align-items: center;
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.center{
    margin-left:auto;
    margin-right:auto;
}


/*//////////////////////////////////////*/

.EmpCard {
    padding: 80px 0;
}
.eCard {
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.5);
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    transition: 0.3s;
    margin-bottom:11px;
}

.eCard:hover{
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    margin-top:-9px;
}

.emp-Cover img{
    height:200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.emp-Avatar img{
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    z-index:1;
    width:140px;
    height:140px;
    border-radius:50%;
    border: 3px #fff solid;
    margin-top: -80px;
    background-color: #fff;
}

.main-text{
    padding: 30px 0;
    text-align:center;
}

.main-text h2{
    font-size:21px;
    font-weight:700;
    margin: 0 0 20px;
}

.main-text div h3,h4{
    font-size:16px;
    padding: 0 35px;
}

.actions{
    text-align:center;
    padding-bottom:20px;
}

/********************/

